.products-main-card {
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .products-section {
    padding-top: 40px;
  }
  
  .products-header {
    text-align: center;
    color: #0C3A2D;
  }
  
  .products-container {
    display: flex;
    /* display: grid; */
    justify-content: left;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    background-color: #F5F5F5;
  }
  
  .product-card {
    text-align: center;
    background-color: #FFC805;
    border-radius: 5px;
    height: 15rem;
    width: 15rem;
  }
  
  .product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .product-card h4 {
    margin-top: 10px;
  }
  
  .product-card p {
    margin-top: 5px;
  }
  .user-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }